<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body { color: white; }
    </style>
  </head>
  <body>
    <div style="border: 1px solid black; width: 100%; height: 100%">
      <div style="padding: 30px; background-color: blue; font-weight:600">
        {{header}}
        <p style="font-family: Verdana">Dear Sir/Madam,</p>

        <p style="font-family: Verdana">
          You had received this email from Patoliya Infotech. I am cron and will
          send you email every 1 minutes.
          <br />
        </p>
        <br />
        {{footer}}
      </div>
    </div>
  </body>
</html>